API_KEY=***************** # replace with your API key
DISCORD_TOKEN=***************** # replace with your Discord token
# don't forget to change the name of the file to .env after you add your API key
